<p class="big">todo-blast</p>
<!-- <form class="form-inline mr-auto" style="margin-top: 10px" *ngIf="userName !== null">
  <input type="text" class="form-control" placeholder="{{userName}}" disabled >
  <button type="submit" class="css-button-3d--grey" (click)="signOut()">Log Out</button>
</form> -->

<form  *ngIf="userName !== null">
  
  <p class="userStyle">{{'@ '+userName}}</p>
  <button type="submit" class="css-button-3d--grey" (click)="signOut()">Log Out</button>
</form>

<router-outlet></router-outlet>
